@model RedLineLanka_Enterprise.Areas.Base.Models.DashBoardVM

<link href="~/Content/ChartsStyle.css" rel="stylesheet" />
<script src="~/Scripts/Chart.custom.js"></script>

@{ 
    var strDate = DateTime.Now.ToString("dd-MMM-yyyy");
}

<body style="background-color: #1E1A19;">
    <div class="container-fluid">
        <div class="container-fill">
        </div>
    </div>
</body>